streamlit==1.58.0
Pillow
requests
spacy
https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.7.0/es_core_news_md-3.7.0.tar.gz
hunspell
scikit-learn
sentence-transformers
numpy<2.0.0
huggingface_hub
python-dotenv
langchain
langchain-community
langchain-huggingface
langchain-classic
langchain-groq